<!DOCTYPE html>
<html>
<head>
  <title>Restau-Rate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <h1>Restau-Rate</h1>

  <%= yield %>

</div>

</body>
</html>
